.container {
    max-width: 500px;
margin: 0 auto;
text-align: center;
}
.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    background-color: rgb(18, 182, 182);
}
.box_red {
    background-color: crimson;
}
.hidden {
    display:none;
}